$primary-color: #0a6341;

// NAV
.nav {
    font-size: 1.6rem;
    border-bottom: 1px solid #cfcfcf;
    .container {
        height: 90px;
        display: flex;
        align-items: center;
    }
    &__logo {
        width: 160px;
        height: 25px;
        svg {
            width: 125px;
            fill: $primary-color;
        }
    }
    &__inputs {
        display: flex;
        flex: 1;
        height: 44px;
        align-items: center;
        border: 1px solid #a1a5a4;
        border-radius: 4px;
        padding: 0 12px;
        margin-right: 32px;
        i {
            font-size: 1.6rem;
        }
        input {
            flex: 1;
            margin-left: 12px;
            border: none;
            outline: none;
        }
    }
    &__list {
        margin-left: auto;
        display: flex;
    }
    &__item {
        margin: 0 4px;
        line-height: 3.6rem;
    }
}
